Importing basic libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Reading CSV:

In [2]:
df=pd.read_csv('seattleWeather_1948-2017.csv')

EDA:

In [3]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [4]:
df.drop('DATE',axis=1,inplace=True)

In [5]:
df.head()

   PRCP  TMAX  TMIN  RAIN
0  0.47    51    42  True
1  0.59    45    36  True
2  0.42    45    35  True
3  0.31    45    34  True
4  0.17    45    32  True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 4 columns):
PRCP    25548 non-null float64
TMAX    25551 non-null int64
TMIN    25551 non-null int64
RAIN    25548 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 798.5+ KB

In [7]:
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25548 entries, 0 to 25550
Data columns (total 4 columns):
PRCP    25548 non-null float64
TMAX    25548 non-null int64
TMIN    25548 non-null int64
RAIN    25548 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 998.0+ KB

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
features=df.drop('RAIN',axis=1)

In [12]:
features.head()

   PRCP  TMAX  TMIN
0  0.47    51    42
1  0.59    45    36
2  0.42    45    35
3  0.31    45    34
4  0.17    45    32

In [13]:
target=df['RAIN']

In [14]:
category={}
def Encoder(val):
    if val in category:
        return category[val]
    else:
        category[val]=len(category)
    return category[val]

In [15]:
target=target.apply(Encoder)

Logistic Regression:

In [16]:
(X_train,X_test,Y_train,Y_test)=train_test_split(features,target,test_size=0.30)

In [17]:
classifier=LogisticRegression()

In [18]:
classifier.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [19]:
Ypreds=classifier.predict(X_test)

In [20]:
classifier.score(X_test,Y_test)

0.92798434442270061

In [21]:
from sklearn.metrics import classification_report

In [22]:
print(classification_report(Y_test,Ypreds))

             precision    recall  f1-score   support

          0       0.99      0.84      0.91      3270
          1       0.89      1.00      0.94      4395

avg / total       0.93      0.93      0.93      7665